<div>
    <h1 class="title">About Us</h1>
</div>
<div class="container">
    <div class="parent">
      <div class="child">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid.max" src="../../assets/pranav1.jpg">
          </div>
          <div class="team-content">
            <h1 class="name">Pranav Kulkarni</h1>
            <h3 class="title">FrontEnd Developer</h3>
            <h4 class="text">A sophomore-year Computer Science student at York University. Possess expertise in Angular website designing. Java programming talent. Frontend Engine co-founder. P ossessing the Java skills necessary to create mobile applications in Android Studios. Java basic learning programme tutor</h4>
          </div>
          <ul class="social">
            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100011697297845"  class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a target="_blank" href="https://github.com/PranavKulkarni33" class="fa-brands fa-github" aria-hidden="true"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/pranav_kulkarni_789/?next=%2F" class="fa-brands fa-instagram" aria-hidden="true"></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/pranav-kulkarni-43279425b/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="child">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/hrishi.jpeg">
          </div>
          <div class="team-content">
            <h1 class="name">Hrishikesh Potdar</h1>
            <h3 class="title">FrontEnd Developer</h3>
            <h4 class="text">Put your info here</h4>
          </div>
          <ul class="social">
            <li><a href="facebooklink" class="fa fa-facebook" aria-hidden="false"></a></li>
            <li><a href="github link" class="fa-brands fa-github" aria-hidden="true"></a></li>
            <li><a href="instagram link" class="fa-brands fa-instagram" aria-hidden="true"></a></li>
            <li><a href="linkedin link" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>