<!-- <div class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div> -->

<mat-toolbar color="warn">
  <a class="main" routerLink="/home" ><span >ᖴᖇOᑎTEᑎᗪ EᑎGIᑎE</span></a>
  <span class="spacer"></span>

  <a class="frontend-engine-links" routerLink="/home"> <button mat-button>Home</button> </a>
  <a class="frontend-engine-links" routerLink="/r-products"> <button mat-button>Products</button> </a>
  <a class="frontend-engine-links" routerLink="/services"> <button mat-button>Services</button> </a>
  <a class="frontend-engine-links" routerLink="/products"> <button mat-button>Portfolio</button> </a>
  <a class="frontend-engine-links" routerLink="/about"> <button mat-button>About</button> </a>
  <a class="frontend-engine-links" routerLink="/contact"> <button mat-button>Contact</button> </a>
  

  
</mat-toolbar>




    <router-outlet></router-outlet>
