
  <mat-vertical-stepper [linear]="false" #stepper class="colorb" >
    
    <mat-step completed="false" >
      <mat-card  class="mat-elevation-z8 size-card">
        <small> 10th May, 2012 </small>
        <ng-template  matStepLabel><h2>Ajackus</h2></ng-template>
        <a target="_blank"  href="https://www.ajackus.com"><img  src="../../assets/ajackus.png"  class="thumbnail" width="350" height="200"></a>
        
        <mat-card-title class="textcolor">Fullstack Developer</mat-card-title>
        <mat-card-subtitle class="pad"><p>First 'job' 😀.
        Wordpress plugins & lots of UI work, learnt all the cute day to day job tricks whilst building Ajackus from ground up.
        Although I've moved on it's great to see how well they're doing now, I'm a proud friend!</p></mat-card-subtitle>
       
      </mat-card>
    </mat-step>


    <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template  matStepLabel><h2>Dito Web</h2></ng-template>
          <a target="_blank"  href="https://www.ditoweb.com/"><img  src="../../assets/dito.png"  class="thumbnail" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Lead Frontend Developer
        </mat-card-title>
          <mat-card-subtitle class="pad"><p>Client Dashboard for a California county, helping with foster kids management dashboard, team of 4, I was responsible for building the web dashboard</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>


      <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template  matStepLabel><h2>Motivity Labs</h2></ng-template>
          <a target="_blank"  href="https://motivitylabs.com/"><img  src="../../assets/motivity.png"  class="thumbnail" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Lead Frontend Developer</mat-card-title>
          <mat-card-subtitle class="pad"><p>Started as a Junior, grew into the role, was promoted to a Senior position and eventually lead frontend as I took ownership of projects like Dito web & Keeptrax :), I grew as a developer in Motivity Labs the most & credit a lot of my dev learning to this company</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>


      <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template  matStepLabel><h2>KeepTrax</h2></ng-template>
          <a target="_blank"  href="http://keeptraxapp.com/"><img  src="../../assets/keeptrax.png"  class="thumbnail" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Fullstack Developer</mat-card-title>
          <mat-card-subtitle class="pad"><p>Web Dashboard to track delivery drivers.</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>


      <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template  matStepLabel><h2>Lyra Influence</h2></ng-template>
          <a target="_blank"  href="https://www.lyra-influence.com/"><img  src="../../assets/lyra.png" class="center" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Core Team - Lead Frontend Developer</mat-card-title>
          <mat-card-subtitle class="pad"><p>Ownership of the web dashboard. Responsible for web scalability, direction & performance updrages. Everything for the frontend.</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>


      <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template  matStepLabel><h2>American Airlines</h2></ng-template>
          <a target="_blank"  href="https://www.aa.com/homePage.do"><img  src="../../assets/aa.png"  class="thumbnail" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Platform (Core) Team</mat-card-title>
          <mat-card-subtitle class="pad"><p>Working closely with the design team to create reusable components for the delivery teams to consume and expedite their development process.</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>


      <mat-step completed="false" >
        <mat-card  class="mat-elevation-z8 size-card" >
          <ng-template matStepLabel><h2>NTT Data</h2></ng-template>
          <a target="_blank"  href="https://us.nttdata.com/en"><img  src="../../assets/ntt-data.png"  class="thumbnail" width="350" height="200"></a>
          
          <mat-card-title class="textcolor">Performance Team - SDE Specialist (Angular)</mat-card-title>
          <mat-card-subtitle class="pad"><p>Working in a small team of frontend developers & closely with lighthouse, looking for that extra edge and improvements to smoothen the end user's experience.</p></mat-card-subtitle>
         
        </mat-card>
      </mat-step>
    
    
  </mat-vertical-stepper>
  
