<div>
    <h1 class="title">Our Products</h1>
</div>

<div class="center">

    <div class="parent">
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://bananaproject.org/"><img  src="../../assets/banana.svg"  class="thumbnail" width="350" height="200"></a>
                
                <a class="link" target="_blank" href="https://bananaproject.org/"><mat-card-title >The Banana Project</mat-card-title></a>
                <mat-card-subtitle class="pad"><p>In the artificial world we have created, we are dependent on a number of things. Our mobile phones and laptops keep us attached, the TV is loud, and there is always something going on. We are mired in memories of the past or the future. We seriously harm the vehicle that is our body when we ruin the present. Today's body has strayed from its innate ability to heal.</p></mat-card-subtitle>
               
              </mat-card>
        </div>
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://true-sig.netlify.app/"><img  src="../../assets/truesig.png"  class="thumbnail" width="350" height="200"></a>
                
                <a class="link" target="_blank" href="https://true-sig.netlify.app/"><mat-card-title >True Sig</mat-card-title></a>
                <mat-card-subtitle class="pad"><p>Digital signatures, ownership of your documents, get your business running on-chain.</p></mat-card-subtitle>
                
              </mat-card>
        </div>
    
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://bettermind360.wordpress.com/"><img  src="../../assets/bettermind360.jpeg"  class="thumbnail1" width="350" height="200"></a>
                
                <a class="link" target="_blank" href="https://bettermind360.wordpress.com/"><mat-card-title>Bettermind360</mat-card-title></a>
                <mat-card-subtitle class="pad"><p>This is an online counseling platform.

                    We often choose to be silent in our difficult times especially when we need someone to talk to & share our feelings with. A mindful ear, humble support & a bit of guidance can give us a better understanding of our present situation.
                    
                    The webiste provideds empathecial listener who understand your problems without any judgment & help you grow in such a way so that you can pick your own battles, prioritize & fight them on your own.</p></mat-card-subtitle>
               
              </mat-card>
    </div>
</div>
